{{> head}}
<body>
    {{> navbar}}
    <dir class="row">
        <dir class= "col-8">
            <h1>Ola K ACE</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aut repellendus itaque dignissimos perferendis voluptatibus harum beatae, adipisci tempore praesentium? Nihil, deserunt. Saepe eos expedita numquam possimus veritatis accusamus voluptatum.
        </dir>
        <dir class= "col-4">

            <img src="assets/img/IRONMAN_IMAGE_2_1200x1200.jpg" class="img-thumbnail">

        </dir>
    </dir>
</body>

{{> footer}}